.postGrid {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid #EEEEEE;
    box-shadow: 1px 1px 4px #9B3922;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: all 0.1s ease-in-out;
    padding-left: 0;
    padding-right: 0;
}

.card:hover {
    box-shadow: 3px 3px 9px #9B3922;
    transform: scale(1.01);
}


.card img {
    width: 450px;
    height: 450px;
    max-width: fit-content;
    object-fit: fill;
    border-radius: 10px;
    padding: 20px;
}

.card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50%;
}

.card-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.card-details p {
    font-size: 16px;
    margin-bottom: 10px;
    color: gray;
}

/* Single Card  */

.singleCardContainer {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.singleCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    border: 1px solid #EEEEEE;
    box-shadow: 1px 1px 4px #9B3922;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: all 0.1s ease-in-out;
}

.singleCard img {
    width: 500px;
    height: 500px;
    object-fit: fill;
    max-width: fit-content;
    border-radius: 10px;
}

.singleCard-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.singleCard-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.singleCard-details p {
    font-size: 16px;
    margin-bottom: 10px;
    color: gray;
}

.feedbackBtn {
    background-color: #222831;
}

.feedbackBtn:hover {
    background-color: #9B3922 !important;
    color: white;
}

.backBtn:hover {
    color: #9B3922 !important;
    border-color: #9B3922 !important;
}

.feedbackContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    box-shadow: 1px 1px 4px #9B3922;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    width: 500px;
    
}
.submittedFeedbacks{
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}